<div class="top-bar">
    <div class="logo">
        <a href="#/" title=""><i class="fa fa-recycle"></i> Absolute</a>
         <div class="menu-options"><span class="menu-action"><i></i></span></div>
    </div>
    <form class="search-form">
        <input type="text" placeholder="Search Here..." />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="quick-links">
        <ul>
            <li><a title="" class="show-stats red-skin"><i class="fa fa-power-off"></i></a></li>
        </ul>
    </div>
</div><!-- Top Bar -->
<header class="side-header light-skin opened-menu">
    <div class="admin-details"></div>
    <div class="menu-scroll">
        <div class="side-menus">
            <span>MAIN LINKS</span>
            <nav ng-include="template.menu"></nav>
        </div>
    </div><!-- Menu Scroll -->
</header>
<script type="text/javascript">
    $(document).ready(function(){
      "use strict";
      //***** Side Menu *****//
      

    /*** FIXED Menu APPEARS ON SCROLL DOWN ***/
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();
        if (scroll >= 10) {
        $(".side-header").addClass("sticky");
        }
        else{
        $(".side-header").removeClass("sticky");
        $(".side-header").addClass("");
        }
    });

    $(".side-menus nav > ul > li ul li > a").on("click", function(){
        $(".side-header").removeClass("slide-menu");
        $(".menu-options").removeClass("active");
    });

      //***** Side Menu *****//
      $(function(){
          $('.side-menus').slimScroll({
              height: '400px',
              wheelStep: 10,
              size: '2px'
          });
      });
    });
</script>
